/* Crossfilter css */
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);

* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.containerRow {
  display: flex;
  flex-direction: row;
}

.webgl-global0 {
  position: fixed;
  bottom: 18vh;
  left: 90vh;
  height: 32vh;
  width: 16vh;
  outline: none;
  border: 3px solid black
}

.webgl-global1 {
  position: fixed;
  bottom: 18vh;
  left: 106vh;
  height: 32vh;
  width: 16vh;
  outline: none;
  border: 3px solid black
}

.webgl-global2 {
  position: fixed;
  bottom: 2vh;
  left: 90vh;
  height: 16vh;
  width: 32vh;
  outline: none;
  border: 3px solid black
}

#webgl-pov-steps {
  position: fixed;
  bottom: 175px;
  right: 10px;
}

#webgl-pov-residual {
  position: fixed;
  bottom: 150px;
  right: 10px;
}

.loading-bar {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 2px;
  background: #ffffff;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.5s;
  will-change: transform;
}

.loading-bar--ended {
  transform-origin: top right;
  transition: transform 1.5s ease-in-out;
}

.graphsContainer {
  display: flex;
  flex-direction: column;
  width: 800;
  height: 200;
}

.residualsContainer {
  display: flex;
  flex-direction: column;
}

.residualsGraph {
  width: 360;
  height: 200;
}

.parallelCoordinatesContainer {
  display: flex;
  flex-direction: column;
  margin-left: 0;
}

.parallelCoordinates {
  width: 360;
  height: 200;
}

/* body { font-family: Arial, sans-serif; } */
.container {
  display: flex;
}

#histogram {
  width: 50%;
}

#table {
  width: 50%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

body {
  font-family: "Helvetica Neue";
}

#body {
  position: relative;
}

footer {
  padding: 2em 0 1em 0;
  font-size: 12px;
}

h1 {
  font-size: 96px;
  margin-top: .3em;
  margin-bottom: 0;
}

h1+h2 {
  margin-top: 0;
}

h2 {
  font-weight: 400;
  font-size: 28px;
}

h1,
h2 {
  font-family: "Yanone Kaffeesatz";
  text-rendering: optimizeLegibility;
}

#body>p {
  line-height: 1.5em;
  width: 640px;
  text-rendering: optimizeLegibility;
}

#charts {
  padding: 10px 0;
}

.chart {
  display: inline-block;
  height: 151px;
  margin-bottom: 20px;
}

.reset {
  padding-left: 1em;
  font-size: smaller;
  color: #ccc;
}

.background.bar {
  fill: #ccc;
}

.foreground.bar {
  fill: steelblue;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}

#hour-chart {
  width: 260px;
}

#delay-chart {
  width: 230px;
}

#distance-chart {
  width: 420px;
}

#date-chart {
  width: 920px;
}

#flight-list {
  min-height: 850px;
}

#flight-list .date,
#flight-list .day {
  margin-bottom: .4em;
}

#flight-list .flight {
  line-height: 1.5em;
  background: #eee;
  width: 640px;
  margin-bottom: 1px;
}

#flight-list .time {
  color: #999;
}

#flight-list .flight div {
  display: inline-block;
  width: 100px;
}

#flight-list div.distance,
#flight-list div.delay {
  width: 160px;
  padding-right: 10px;
  text-align: right;
}

#flight-list .early {
  color: green;
}

aside {
  position: absolute;
  left: 740px;
  font-size: smaller;
  width: 220px;
}

/* Histogram Style */

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: orange;
}

.axis-label {
  font-size: 12px;
}

.brush .selection {
  fill: #777;
  fill-opacity: 0.3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

/* New UI style */
.containerRow {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.canvasColumn {
  width: 100vh;
  height: 100vh;
}

.webgl {
  height: 100%;
  width: 100%;
}

.uiColumn {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.controlsContainer {
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  height: 30vh;
}

.userButtons {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* background-color: #D9D9D9; */
  background-color: #dfeeee;
}

.userButton {
  width: 50%;
  min-width: 150px;
  max-width: 200px;
  /* color: white; */
  color: #272343;

  box-sizing: border-box;

  padding: 12px;
  gap: 8px;

  height: 40px;

  /* background: #2C2C2C; */
  background: #ffd803;  
  border: 1px solid #2C2C2C;
  border-radius: 8px;

  cursor: pointer;
}

.userQueries {
  flex: 4;
  /* background-color: #B2B2B2; */
  background-color: #dfeeee;  
  display: flex;
  flex-direction: column;
}

.tabs {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.tabButton {
  font-size: 18px;
  padding: 4px 12px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.tabButton--active {
  color: #303030;
  /* color: #ffd803; */
  border-bottom: 1px solid #303030;
}

.tabButton--inactive {
  color: #767676;
}

.queryContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.querySliders {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.queryNumLocations {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#numLocations {
  height: 20px;
  margin-left: 5px;
  padding-left: 5px;
}

.queryButtons {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.graphsContainer {
  padding: 5px 10px;
  height: 35vh;
  display: flex;
}

#HiddenMap {
  flex: 1;
  /* background-color: #abd1c6; */
  background-color: #dfeeee;
}

.graphsContent {
  flex: 1;
  background-color: #D9D9D9;
}

.galleryContainer {
  padding: 5px 10px;
  height: 35vh;
  display: flex;
  box-sizing: border-box;
}

.galleryContent {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  /* background-color: #B2B2B2; */
  background-color: #dfeeee;
}

.galleryItem {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.galleryPovWorld {
  height: 16vh;
  width: 16vh;
  box-sizing: border-box;
}

.webgl-pov {
  width: 100%;
  height: 100%;
}

.galleryPieChart {
  margin-left: 15px;
  height: 16vh;
  width: 16vh;
  box-sizing: border-box;

  display: flex;
  padding: 5px;
  background-color: #eeeeee;
}

/* chart */
#chart0 {
  width: 100%;
  height: 100%;
}

#chart1 {
  width: 100%;
  height: 100%;
}

#chart2 {
  width: 100%;
  height: 100%;
}

#chart3 {
  width: 100%;
  height: 100%;
}

#chart4 {
  width: 100%;
  height: 100%;
}

.tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  font-size: 18px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 80px;
  z-index: 10;
}

/* Slider */
.slider {
  background-color: transparent;
  display: flex;
  width: 90%;
  height: 50%;
}

.tag-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.tag {
  border-left-width: 0.1em;
  border-left-style: solid;
  border-left-color: white;
  border-right-width: 0.1em;
  border-right-style: solid;
  border-right-color: white;
  box-sizing: border-box;
  padding: 0.5em;
  position: relative;
  text-align: center;
}

.tag-text {
  color: white;
  display: block;
  font-family: sans-serif;
  font-weight: bold;
  overflow: hidden;
  user-select: none;
}

.tag:first-of-type {
  border-radius: 4px 0px 0px 4px;
}

.tag:last-of-type {
  border-radius: 0px 4px 4px 0px;
}

.tag:last-of-type>.slider-thumb {
  display: none !important;
}

.slider-thumb {
  align-items: center;
  background-color: white;
  border-radius: 2em;
  bottom: 0;
  cursor: ew-resize;
  display: flex;
  height: 2em;
  justify-content: center;
  margin: auto;
  width: 2em;
  position: absolute;
  right: calc(-1.1em);
  top: 0;
  user-select: none;
  z-index: 10;
}

.slider-thumb span {
  font-size: 1.5em;
  font-weight: bold;
}