/* Crossfilter css */
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);
*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.containerRow {
  display: flex;
  flex-direction: row;
}

.canvasColumn{
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.uiColumn {
  left: 850px;
  top: 300px;
  display: flex;
  position: absolute;
  flex-direction: column;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    height: 83vh;
    width: 83vh;
}
.webgl-pov0
{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 16vh;
    width: 16vh;
    outline: none;
    border: 3px solid black
}
.webgl-pov1
{
    position: fixed;
    bottom: 0;
    left: 16vh;
    height: 16vh;
    width: 16vh;
    outline: none;
    border: 3px solid black
}
.webgl-pov2
{
    position: fixed;
    bottom: 0;
    left: 32vh;
    height: 16vh;
    width: 16vh;
    outline: none;
    border: 3px solid black
}
.webgl-pov3
{
    position: fixed;
    bottom: 0;
    left: 48vh;
    height: 16vh;
    width: 16vh;
    outline: none;
    border: 3px solid black
}
.webgl-pov4
{
    position: fixed;
    bottom: 0;
    left: 64vh;
    height: 16vh;
    width: 16vh;
    outline: none;
    border: 3px solid black
}

#webgl-pov-steps
{
    position: fixed;
    bottom: 175px;
    right: 10px;
}

#webgl-pov-residual
{
    position: fixed;
    bottom: 150px;
    right: 10px;
}

.loading-bar {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background: #ffffff;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.5s;
    will-change: transform;
}
.loading-bar--ended {
    transform-origin: top right;
    transition: transform 1.5s ease-in-out;
}

.graphsContainer {
  display: flex;
  flex-direction: column;
  width: 800;
  height: 200;
}
.residualsContainer {
  display: flex;
  flex-direction: column;
}
.residualsGraph {
  width: 360;
  height: 200;
}
.parallelCoordinatesContainer{
  display: flex;
  flex-direction: column;
  margin-left: 0;
}
.parallelCoordinates {
  width: 360;
  height: 200;
}
    
/* body { font-family: Arial, sans-serif; } */
.container { display: flex; }
#histogram { width: 50%; }
#table { width: 50%; }
table { width: 100%; border-collapse: collapse; }
th, td { border: 1px solid #ddd; padding: 8px; }
th { background-color: #f2f2f2; }

body {
  font-family: "Helvetica Neue";
  margin: 40px auto;
  width: 960px;
  min-height: 2000px;
}

#body {
  position: relative;
}

footer {
  padding: 2em 0 1em 0;
  font-size: 12px;
}

h1 {
  font-size: 96px;
  margin-top: .3em;
  margin-bottom: 0;
}

h1 + h2 {
  margin-top: 0;
}

h2 {
  font-weight: 400;
  font-size: 28px;
}

h1, h2 {
  font-family: "Yanone Kaffeesatz";
  text-rendering: optimizeLegibility;
}

#body > p {
  line-height: 1.5em;
  width: 640px;
  text-rendering: optimizeLegibility;
}

#charts {
  padding: 10px 0;
}

.chart {
  display: inline-block;
  height: 151px;
  margin-bottom: 20px;
}

.reset {
  padding-left: 1em;
  font-size: smaller;
  color: #ccc;
}

.background.bar {
  fill: #ccc;
}

.foreground.bar {
  fill: steelblue;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}

#hour-chart {
  width: 260px;
}

#delay-chart {
  width: 230px;
}

#distance-chart {
  width: 420px;
}

#date-chart {
  width: 920px;
}

#flight-list {
  min-height: 850px;
}

#flight-list .date,
#flight-list .day {
  margin-bottom: .4em;
}

#flight-list .flight {
  line-height: 1.5em;
  background: #eee;
  width: 640px;
  margin-bottom: 1px;
}

#flight-list .time {
  color: #999;
}

#flight-list .flight div {
  display: inline-block;
  width: 100px;
}

#flight-list div.distance,
#flight-list div.delay {
  width: 160px;
  padding-right: 10px;
  text-align: right;
}

#flight-list .early {
  color: green;
}

aside {
  position: absolute;
  left: 740px;
  font-size: smaller;
  width: 220px;
}

/* Histogram Style */

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: orange;
}

.axis-label {
  font-size: 12px;
}

.brush .selection {
  fill: #777;
  fill-opacity: 0.3;
  stroke: #fff;
  shape-rendering: crispEdges;
}